@font-face {
  font-family: 'hicons';
  src:  url('fonts/hicons.eot?q3dzdg');
  src:  url('fonts/hicons.eot?q3dzdg#iefix') format('embedded-opentype'),
    url('fonts/hicons.ttf?q3dzdg') format('truetype'),
    url('fonts/hicons.woff?q3dzdg') format('woff'),
    url('fonts/hicons.woff2?q3dzdg') format('woff2'),
    url('fonts/hicons.svg?q3dzdg#hicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.h {
  font-family: "hicons" !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  display: inline-block;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 3em;
}

.h-ul {
  margin-left: 2em;
  padding-left: 0;
  list-style: none;
}
.h-ul > li {
  position: relative;
}
.h-ul .bx {
  font-size: inherit;
  line-height: inherit;
  position: absolute;
  left: -2em;
  width: 2em;
  text-align: center;
}


.h-beer:before {
  content: "\ea2c";
}
.h-bread:before {
  content: "\ea32";
}
.h-burger:before {
  content: "\ea8b";
}
.h-cake:before {
  content: "\ea8c";
}
.h-candy:before {
  content: "\ea8d";
}
.h-cookie:before {
  content: "\ea8e";
}
.h-donut:before {
  content: "\ea8f";
}
.h-mushroom:before {
  content: "\ea90";
}
.h-pizza:before {
  content: "\ea91";
}
.h-tea-bag:before {
  content: "\ea92";
}
.h-maximise-frame:before {
  content: "\e9f2";
}
.h-minimise-frame:before {
  content: "\e9fe";
}
.h-not-equal-to:before {
  content: "\e928";
}
.h-refresh-acw:before {
  content: "\e993";
}
.h-skip-next:before {
  content: "\ea75";
}
.h-apple:before {
  content: "\e900";
}
.h-banana:before {
  content: "\e901";
}
.h-discount-dollar:before {
  content: "\e902";
}
.h-discount-empty:before {
  content: "\e903";
}
.h-discount-euro:before {
  content: "\e904";
}
.h-discount-percentage:before {
  content: "\e905";
}
.h-discount-pound:before {
  content: "\e906";
}
.h-discount-yuan:before {
  content: "\e907";
}
.h-leaf:before {
  content: "\e908";
}
.h-link-2:before {
  content: "\e909";
}
.h-link:before {
  content: "\e90a";
}
.h-login:before {
  content: "\e90b";
}
.h-logout:before {
  content: "\e90c";
}
.h-orange:before {
  content: "\e90d";
}
.h-paper-bag:before {
  content: "\e90e";
}
.h-piano:before {
  content: "\e90f";
}
.h-user-add:before {
  content: "\e910";
}
.h-user-checked:before {
  content: "\e911";
}
.h-user-in:before {
  content: "\e912";
}
.h-user-out:before {
  content: "\e913";
}
.h-user-remove:before {
  content: "\e914";
}
.h-user-x:before {
  content: "\e915";
}
.h-user:before {
  content: "\e916";
}
.h-users:before {
  content: "\e917";
}
.h-triangle:before {
  content: "\e91d";
}
.h-alert-triangle:before {
  content: "\e918";
}
.h-face-sad:before {
  content: "\e919";
}
.h-female:before {
  content: "\e91a";
}
.h-intersex:before {
  content: "\e91b";
}
.h-male:before {
  content: "\e91c";
}
.h-transgender-2:before {
  content: "\e91e";
}
.h-transgender:before {
  content: "\e91f";
}
.h-dribbble:before {
  content: "\e920";
}
.h-alert-circle:before {
  content: "\e921";
}
.h-at:before {
  content: "\e922";
}
.h-circle:before {
  content: "\e923";
}
.h-help-circle:before {
  content: "\e924";
}
.h-hicon:before {
  content: "\e925";
}
.h-info:before {
  content: "\e926";
}
.h-pie-chart:before {
  content: "\e927";
}
.h-refresh-cw:before {
  content: "\e929";
}
.h-rotate-acw:before {
  content: "\e92a";
}
.h-rotate-cw:before {
  content: "\e92b";
}
.h-spotify:before {
  content: "\e92c";
}
.h-square-2:before {
  content: "\e92d";
}
.h-square:before {
  content: "\e92e";
}
.h-target:before {
  content: "\e92f";
}
.h-virus:before {
  content: "\e930";
}
.h-circle1:before {
  content: "\e931";
}
.h-help-circle1:before {
  content: "\e932";
}
.h-colour-picker:before {
  content: "\e967";
}
.h-high-performance:before {
  content: "\e9b1";
}
.h-low-performance:before {
  content: "\e9c8";
}
.h-medium-performance:before {
  content: "\e9cd";
}
.h-arrow-down-right-square:before {
  content: "\e933";
}
.h-airplay:before {
  content: "\e934";
}
.h-alert-square:before {
  content: "\e935";
}
.h-align-center:before {
  content: "\e936";
}
.h-align-justify:before {
  content: "\e937";
}
.h-align-left:before {
  content: "\e938";
}
.h-align-right:before {
  content: "\e939";
}
.h-anchor:before {
  content: "\e93a";
}
.h-archive:before {
  content: "\e93b";
}
.h-arrow-down-1:before {
  content: "\e93c";
}
.h-arrow-down-cricle:before {
  content: "\e93d";
}
.h-arrow-down-left-circle:before {
  content: "\e93e";
}
.h-arrow-down-left-square:before {
  content: "\e93f";
}
.h-arrow-down-left:before {
  content: "\e940";
}
.h-arrow-down-right-circle:before {
  content: "\e941";
}
.h-arrow-down-right:before {
  content: "\e942";
}
.h-arrow-down-square:before {
  content: "\e943";
}
.h-arrow-down:before {
  content: "\e944";
}
.h-arrow-left-cricle:before {
  content: "\e945";
}
.h-arrow-left-square:before {
  content: "\e946";
}
.h-arrow-right-cricle:before {
  content: "\e947";
}
.h-arrow-right-square:before {
  content: "\e948";
}
.h-arrow-right:before {
  content: "\e949";
}
.h-arrow-up-circle:before {
  content: "\e94a";
}
.h-arrow-up-left-cricle:before {
  content: "\e94b";
}
.h-arrow-up-left-square:before {
  content: "\e94c";
}
.h-arrow-up-left:before {
  content: "\e94d";
}
.h-arrow-up-right-circle:before {
  content: "\e94e";
}
.h-arrow-up-right-square:before {
  content: "\e94f";
}
.h-arrow-up-right:before {
  content: "\e950";
}
.h-arrow-up-square:before {
  content: "\e951";
}
.h-arrow-up:before {
  content: "\e952";
}
.h-award:before {
  content: "\e953";
}
.h-bag-2:before {
  content: "\e954";
}
.h-bag-3:before {
  content: "\e955";
}
.h-bag:before {
  content: "\e956";
}
.h-bar-chart-1:before {
  content: "\e957";
}
.h-bar-chart-2:before {
  content: "\e958";
}
.h-bar-chart-down:before {
  content: "\e959";
}
.h-bar-chart-up:before {
  content: "\e95a";
}
.h-battery-charging:before {
  content: "\e95b";
}
.h-battery-ending:before {
  content: "\e95c";
}
.h-battery-half:before {
  content: "\e95d";
}
.h-battery-off:before {
  content: "\e95e";
}
.h-battery:before {
  content: "\e95f";
}
.h-bell-off:before {
  content: "\e960";
}
.h-bell:before {
  content: "\e961";
}
.h-bitcoin-sign:before {
  content: "\e962";
}
.h-bluetooth:before {
  content: "\e963";
}
.h-bold:before {
  content: "\e964";
}
.h-book-open:before {
  content: "\e965";
}
.h-book:before {
  content: "\e966";
}
.h-bookmark:before {
  content: "\e968";
}
.h-bottombar:before {
  content: "\e969";
}
.h-box:before {
  content: "\e96a";
}
.h-briefcase:before {
  content: "\e96b";
}
.h-calendar-2:before {
  content: "\e96c";
}
.h-calendar-10:before {
  content: "\e96d";
}
.h-calendar-17:before {
  content: "\e96e";
}
.h-calendar-meeting:before {
  content: "\e96f";
}
.h-calendar-monday:before {
  content: "\e970";
}
.h-calendar:before {
  content: "\e971";
}
.h-camera-off:before {
  content: "\e972";
}
.h-camera:before {
  content: "\e973";
}
.h-cast:before {
  content: "\e974";
}
.h-check-circle-1:before {
  content: "\e975";
}
.h-check-circle-2:before {
  content: "\e976";
}
.h-check-square-1:before {
  content: "\e977";
}
.h-check-square-2:before {
  content: "\e978";
}
.h-check:before {
  content: "\e979";
}
.h-chevron-bottom:before {
  content: "\e97a";
}
.h-chevron-left:before {
  content: "\e97b";
}
.h-chevron-right:before {
  content: "\e97c";
}
.h-chevron-up:before {
  content: "\e97d";
}
.h-chevrons-down:before {
  content: "\e97e";
}
.h-chevrons-left:before {
  content: "\e97f";
}
.h-chevrons-right:before {
  content: "\e980";
}
.h-chevrons-up:before {
  content: "\e981";
}
.h-clipboard:before {
  content: "\e982";
}
.h-clock-1:before {
  content: "\e983";
}
.h-clock-2:before {
  content: "\e984";
}
.h-clock-3:before {
  content: "\e985";
}
.h-clock-4:before {
  content: "\e986";
}
.h-clock-5:before {
  content: "\e987";
}
.h-clock-6:before {
  content: "\e988";
}
.h-clock-7:before {
  content: "\e989";
}
.h-clock-8:before {
  content: "\e98a";
}
.h-cloud-off:before {
  content: "\e98b";
}
.h-cloud-rain-heavy:before {
  content: "\e98c";
}
.h-cloud-rain-light:before {
  content: "\e98d";
}
.h-cloud-storm:before {
  content: "\e98e";
}
.h-cloud:before {
  content: "\e98f";
}
.h-cloudy-moon:before {
  content: "\e990";
}
.h-cloudy:before {
  content: "\e991";
}
.h-code-1:before {
  content: "\e992";
}
.h-codepen:before {
  content: "\e994";
}
.h-coffee-expresso:before {
  content: "\e995";
}
.h-coffee:before {
  content: "\e996";
}
.h-columns:before {
  content: "\e997";
}
.h-command:before {
  content: "\e998";
}
.h-compass:before {
  content: "\e999";
}
.h-copy:before {
  content: "\e99a";
}
.h-corner-down-left:before {
  content: "\e99b";
}
.h-corner-down-right:before {
  content: "\e99c";
}
.h-corner-left-down:before {
  content: "\e99d";
}
.h-corner-left-up:before {
  content: "\e99e";
}
.h-corner-right-down:before {
  content: "\e99f";
}
.h-corner-right-up:before {
  content: "\e9a0";
}
.h-corner-up-left:before {
  content: "\e9a1";
}
.h-corner-up-right:before {
  content: "\e9a2";
}
.h-cpu:before {
  content: "\e9a3";
}
.h-credit-card:before {
  content: "\e9a4";
}
.h-crop:before {
  content: "\e9a5";
}
.h-cup:before {
  content: "\e9a6";
}
.h-database:before {
  content: "\e9a7";
}
.h-delete:before {
  content: "\e9a8";
}
.h-desktop:before {
  content: "\e9a9";
}
.h-disco:before {
  content: "\e9aa";
}
.h-dollar-sign:before {
  content: "\e9ab";
}
.h-download-cloud:before {
  content: "\e9ac";
}
.h-download:before {
  content: "\e9ad";
}
.h-drive:before {
  content: "\e9ae";
}
.h-drop:before {
  content: "\e9af";
}
.h-edit-2:before {
  content: "\e9b0";
}
.h-edit-3:before {
  content: "\e9b2";
}
.h-edit:before {
  content: "\e9b3";
}
.h-email:before {
  content: "\e9b4";
}
.h-euro-sign:before {
  content: "\e9b5";
}
.h-external-link:before {
  content: "\e9b6";
}
.h-eye-off:before {
  content: "\e9b7";
}
.h-eye:before {
  content: "\e9b8";
}
.h-face-mask:before {
  content: "\e9b9";
}
.h-face-smile:before {
  content: "\e9ba";
}
.h-face:before {
  content: "\e9bb";
}
.h-facebook:before {
  content: "\e9bc";
}
.h-fast-forward-x3:before {
  content: "\e9bd";
}
.h-fast-forward:before {
  content: "\e9be";
}
.h-figma:before {
  content: "\e9bf";
}
.h-file-add:before {
  content: "\e9c0";
}
.h-file-damaged:before {
  content: "\e9c1";
}
.h-file-doc:before {
  content: "\e9c2";
}
.h-file-presentation:before {
  content: "\e9c3";
}
.h-file-remove:before {
  content: "\e9c4";
}
.h-file-spreadsheet:before {
  content: "\e9c5";
}
.h-file-text:before {
  content: "\e9c6";
}
.h-file:before {
  content: "\e9c7";
}
.h-filter:before {
  content: "\e9c9";
}
.h-flag:before {
  content: "\e9ca";
}
.h-fn:before {
  content: "\e9cb";
}
.h-folder-add:before {
  content: "\e9cc";
}
.h-folder-locked:before {
  content: "\e9ce";
}
.h-folder-remove:before {
  content: "\e9cf";
}
.h-folder-verified:before {
  content: "\e9d0";
}
.h-folder:before {
  content: "\e9d1";
}
.h-fork:before {
  content: "\e9d2";
}
.h-frame:before {
  content: "\e9d3";
}
.h-framer:before {
  content: "\e9d4";
}
.h-gift-open:before {
  content: "\e9d5";
}
.h-gift:before {
  content: "\e9d6";
}
.h-github:before {
  content: "\e9d7";
}
.h-globe:before {
  content: "\e9d8";
}
.h-grid:before {
  content: "\e9d9";
}
.h-hard-drive:before {
  content: "\e9da";
}
.h-hashtag:before {
  content: "\e9db";
}
.h-headphone:before {
  content: "\e9dc";
}
.h-heart:before {
  content: "\e9dd";
}
.h-help-circle2:before {
  content: "\e9de";
}
.h-home:before {
  content: "\e9df";
}
.h-I-want-to-drink:before {
  content: "\e9e0";
}
.h-inbox:before {
  content: "\e9e1";
}
.h-instagram:before {
  content: "\e9e2";
}
.h-italic:before {
  content: "\e9e3";
}
.h-key:before {
  content: "\e9e4";
}
.h-knife:before {
  content: "\e9e5";
}
.h-label-empty:before {
  content: "\e9e6";
}
.h-label-full:before {
  content: "\e9e7";
}
.h-latte:before {
  content: "\e9e8";
}
.h-layers:before {
  content: "\e9e9";
}
.h-layout:before {
  content: "\e9ea";
}
.h-lens:before {
  content: "\e9eb";
}
.h-linkedin:before {
  content: "\e9ec";
}
.h-list:before {
  content: "\e9ed";
}
.h-loader-1:before {
  content: "\e9ee";
}
.h-locked:before {
  content: "\e9ef";
}
.h-map-pin:before {
  content: "\e9f0";
}
.h-map:before {
  content: "\e9f1";
}
.h-maximise:before {
  content: "\e9f3";
}
.h-menu:before {
  content: "\e9f4";
}
.h-message-empty-bubble:before {
  content: "\e9f5";
}
.h-message-empty-circle:before {
  content: "\e9f6";
}
.h-message-empty-square:before {
  content: "\e9f7";
}
.h-message-full-bubble:before {
  content: "\e9f8";
}
.h-message-full-square-1:before {
  content: "\e9f9";
}
.h-message-full-square:before {
  content: "\e9fa";
}
.h-mic-off:before {
  content: "\e9fb";
}
.h-mic:before {
  content: "\e9fc";
}
.h-microphone:before {
  content: "\e9fd";
}
.h-minimise:before {
  content: "\e9ff";
}
.h-minus-circle:before {
  content: "\ea00";
}
.h-minus-square:before {
  content: "\ea01";
}
.h-minus:before {
  content: "\ea02";
}
.h-moon:before {
  content: "\ea03";
}
.h-more-horizontal:before {
  content: "\ea04";
}
.h-more-vertical:before {
  content: "\ea05";
}
.h-mouse-pointer:before {
  content: "\ea06";
}
.h-move-horizontally:before {
  content: "\ea07";
}
.h-move-vertically:before {
  content: "\ea08";
}
.h-move:before {
  content: "\ea09";
}
.h-movie:before {
  content: "\ea0a";
}
.h-music:before {
  content: "\ea0b";
}
.h-navigator-2:before {
  content: "\ea0c";
}
.h-navigator-3:before {
  content: "\ea0d";
}
.h-navigator:before {
  content: "\ea0e";
}
.h-option:before {
  content: "\ea0f";
}
.h-package:before {
  content: "\ea10";
}
.h-paperclip:before {
  content: "\ea11";
}
.h-partially-sunny:before {
  content: "\ea12";
}
.h-pause:before {
  content: "\ea13";
}
.h-pen-tool:before {
  content: "\ea14";
}
.h-percent:before {
  content: "\ea15";
}
.h-phone-forwarded:before {
  content: "\ea16";
}
.h-phone-incoming:before {
  content: "\ea17";
}
.h-phone-missed:before {
  content: "\ea18";
}
.h-phone-off:before {
  content: "\ea19";
}
.h-phone-ring:before {
  content: "\ea1a";
}
.h-phone:before {
  content: "\ea1b";
}
.h-picture:before {
  content: "\ea1c";
}
.h-play:before {
  content: "\ea1d";
}
.h-plus-circle:before {
  content: "\ea1e";
}
.h-plus-square:before {
  content: "\ea1f";
}
.h-plus:before {
  content: "\ea20";
}
.h-pot:before {
  content: "\ea21";
}
.h-pound-sign:before {
  content: "\ea22";
}
.h-power:before {
  content: "\ea23";
}
.h-printer:before {
  content: "\ea24";
}
.h-radio:before {
  content: "\ea25";
}
.h-repeat-1:before {
  content: "\ea26";
}
.h-repeat:before {
  content: "\ea27";
}
.h-rewind-x3:before {
  content: "\ea28";
}
.h-rewind:before {
  content: "\ea29";
}
.h-rss:before {
  content: "\ea2a";
}
.h-save-1:before {
  content: "\ea2b";
}
.h-scissors:before {
  content: "\ea2d";
}
.h-send:before {
  content: "\ea2e";
}
.h-server:before {
  content: "\ea2f";
}
.h-settings:before {
  content: "\ea30";
}
.h-share:before {
  content: "\ea31";
}
.h-shield-off:before {
  content: "\ea33";
}
.h-shield-safe:before {
  content: "\ea34";
}
.h-shield:before {
  content: "\ea35";
}
.h-shopping-cart:before {
  content: "\ea36";
}
.h-shuffle-2:before {
  content: "\ea37";
}
.h-shuffle:before {
  content: "\ea38";
}
.h-sidebar-left:before {
  content: "\ea39";
}
.h-sidebar-right:before {
  content: "\ea3a";
}
.h-sketch:before {
  content: "\ea3b";
}
.h-skip-back:before {
  content: "\ea3c";
}
.h-slack:before {
  content: "\ea3d";
}
.h-slash:before {
  content: "\ea3e";
}
.h-slice:before {
  content: "\ea3f";
}
.h-sliders-1:before {
  content: "\ea40";
}
.h-sliders-2:before {
  content: "\ea41";
}
.h-smartphone:before {
  content: "\ea42";
}
.h-snow:before {
  content: "\ea43";
}
.h-soap:before {
  content: "\ea44";
}
.h-speaker:before {
  content: "\ea45";
}
.h-spoon:before {
  content: "\ea46";
}
.h-star:before {
  content: "\ea47";
}
.h-status-offline:before {
  content: "\ea48";
}
.h-status-ok:before {
  content: "\ea49";
}
.h-status-transfering:before {
  content: "\ea4a";
}
.h-sun-half:before {
  content: "\ea4b";
}
.h-sun:before {
  content: "\ea4c";
}
.h-sunrise:before {
  content: "\ea4d";
}
.h-sunset:before {
  content: "\ea4e";
}
.h-tablet:before {
  content: "\ea4f";
}
.h-tag-empty:before {
  content: "\ea50";
}
.h-tag-full:before {
  content: "\ea51";
}
.h-tape .path1:before {
  content: "\ea52";
  color: rgb(51, 51, 51);
}
.h-tape .path2:before {
  content: "\ea86";
  margin-left: -1em;
}
.h-tape .path3:before {
  content: "\ea87";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.h-tape .path4:before {
  content: "\ea88";
  margin-left: -1em;
}
.h-tape .path5:before {
  content: "\ea89";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.h-tape .path6:before {
  content: "\ea8a";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.h-television-2:before {
  content: "\ea53";
}
.h-television:before {
  content: "\ea54";
}
.h-thermometer:before {
  content: "\ea55";
}
.h-thumbs-down:before {
  content: "\ea56";
}
.h-thumbs-up:before {
  content: "\ea57";
}
.h-toggle-left-2:before {
  content: "\ea58";
}
.h-toggle-left:before {
  content: "\ea59";
}
.h-toggle-right-2:before {
  content: "\ea5a";
}
.h-toggle-right:before {
  content: "\ea5b";
}
.h-tool:before {
  content: "\ea5c";
}
.h-topbar:before {
  content: "\ea5d";
}
.h-trash-1-open:before {
  content: "\ea5e";
}
.h-trash-1:before {
  content: "\ea5f";
}
.h-trash-2-open:before {
  content: "\ea60";
}
.h-trash-2:before {
  content: "\ea61";
}
.h-trash-3:before {
  content: "\ea62";
}
.h-trending-down:before {
  content: "\ea63";
}
.h-trending-up:before {
  content: "\ea64";
}
.h-truck:before {
  content: "\ea65";
}
.h-twitter:before {
  content: "\ea66";
}
.h-type:before {
  content: "\ea67";
}
.h-umbrella:before {
  content: "\ea68";
}
.h-underline:before {
  content: "\ea69";
}
.h-unlocked-2:before {
  content: "\ea6a";
}
.h-unlocked:before {
  content: "\ea6b";
}
.h-upload-cloud:before {
  content: "\ea6c";
}
.h-upload:before {
  content: "\ea6d";
}
.h-video-off:before {
  content: "\ea6e";
}
.h-video:before {
  content: "\ea6f";
}
.h-voicemail:before {
  content: "\ea70";
}
.h-volume-high:before {
  content: "\ea71";
}
.h-volume-low:before {
  content: "\ea72";
}
.h-volume-off:before {
  content: "\ea73";
}
.h-volume:before {
  content: "\ea74";
}
.h-whatsapp:before {
  content: "\ea76";
}
.h-wifi-off:before {
  content: "\ea77";
}
.h-wifi-on:before {
  content: "\ea78";
}
.h-wind:before {
  content: "\ea79";
}
.h-x-circle:before {
  content: "\ea7a";
}
.h-x-square:before {
  content: "\ea7b";
}
.h-x:before {
  content: "\ea7c";
}
.h-XD:before {
  content: "\ea7d";
}
.h-youtube-pause:before {
  content: "\ea7e";
}
.h-youtube-stop:before {
  content: "\ea7f";
}
.h-youtube:before {
  content: "\ea80";
}
.h-yuan-sign:before {
  content: "\ea81";
}
.h-zap-off:before {
  content: "\ea82";
}
.h-zap-on:before {
  content: "\ea83";
}
.h-zoom-in:before {
  content: "\ea84";
}
.h-zoom-out:before {
  content: "\ea85";
}
